# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
venv/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Models
models/
*.pkl

# Metrics
metrics/
reports/

# MLflow
mlruns/

# DVC cache
.dvc/cache/

# Dataset
Data/IBM_HR_Attrition.csv